<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #cocheForm="ngForm" (ngSubmit)="addCoche(cocheForm)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]
                        ="cocheService.selectedCoche._id">
                        <div class = "row">
                            <div class ="input-field col s12">
                                <input type="text" name="marca" #name="ngModel" [(ngModel)]="cocheService.selectedCoche.marca" placeholder="Introduzca la marca">
                            </div>
                            <div class ="input-field col s12">
                                <input type="text" name="modelo" #modelo="ngModel" [(ngModel)]="cocheService.selectedCoche.modelo" placeholder="Introduzca el modelo">
                            </div>
                            <div class ="input-field col s12">
                                <input type="text" name="picture" #picture="ngModel" [(ngModel)]="cocheService.selectedCoche.picture" placeholder="Introduzca la foto">
                            </div>
                            <div class ="input-field col s12">
                                <input type="text" name="price" #price="ngModel" [(ngModel)]="cocheService.selectedCoche.price" placeholder="Introduzca el precio">
                            </div>
                            <div class ="input-field col s12">
                                <input type="text" name="category" #category="ngModel" [(ngModel)]="cocheService.selectedCoche.category" placeholder="Introduzca la categoria">
                            </div>
                            <div class ="input-field col s12">
                                <input type="text" name="decription" #description="ngModel" [(ngModel)]="cocheService.selectedCoche.description" placeholder="Introduzca la descripcion">
                            </div>
                            <div class ="input-field col s12">
                                <input type="text" name="fechaInicial" #fechaInicial="ngModel" [(ngModel)]="cocheService.selectedCoche.fechaInicial" placeholder="Introduzca la fecha de inicio">
                            </div>
                            <div class ="input-field col s12">
                                <input type="text" name="fechaFinal" #fechaFinal="ngModel" [(ngModel)]="cocheService.selectedCoche.fechaFinal" placeholder="Introduzca la fecha final">
                            </div>
                            
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn right" (click)="resetForm(cocheForm)">Clean</button>
                                    <!--<button class="btn right" (click)="llamada(cocheForm)">Reservar</button>-->
                                    <button class="btn right" style="margin-left: 2px;">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>marca</th>
                    <th>modelo</th>
                    <th>picture</th>
                    <th>price</th>
                    <th>category</th>
                    <th>description</th>
                    <th>fechaInicial</th>
                    <th>fechaFinal</th>
                </thead>
                <tbody>
                    <tr *ngFor="let coche of this.cocheService.coches">
                        <ng-container *ngIf= "coche.price > 0 " >
                            <td>{{ coche.marca }}</td>
                            <td>{{ coche.modelo }}</td>
                            <td>{{ coche.picture }}</td>
                            <td>{{ coche.price }}</td>
                            <td>{{ coche.category }}</td>
                            <td>{{ coche.description }}</td>
                            <td>{{ coche.fechaInicial }}</td>
                            <td>{{ coche.fechaFinal }}</td>
                            <td>
                                <a (click)="editCoche(coche)">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a (click)="deleteCoche(coche._id, coche.price)">
                                    <i class="brand-logo">Reservar</i>
                                </a>
                                <a (click)="deleteCoche2(coche._id)">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>